:root{
  --darkGreen: #1a472a;
  --lightGreen: #2a623d;
  --darkGrey: #5d5d5d;
  --lightGrey: #dbdbdb;
  --mainDark: #000000;
  --mainWhite: #f3f3f3;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Handlee', cursive;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}

.text-darkGrey{
  color: var(--darkGrey);
}

.text-lightGrey{
  color: var(--lightGrey);
}

.text-darkGreen{
  color: var(--darkGreen); 
}

.text-lightGreen{
  color: var(--lightGreen); 
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color : var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem var(--mainDark) solid !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-item{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--darkGrey);
}
  